*{
    padding: 0;
    margin: 0;
}

$title: white;
$title2: #d1d1d1;
$background: #b4217a;
$background2: #b421799f;
$shadow: #5339a4;

@font-face {
    font-family: "alice";
    src: url("../../fonts/Alice_in_Wonderland_3.ttf");
}

@font-face {
    font-family: "just";
    src: url("../../fonts/Just.ttf");
}

@mixin center(){
    display: flex;
    justify-content: center;
}

body{
    background-image: url("../../img/inicio.webp");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    color: $title;
    font-family: "just";
    font-size: 3vh;
    @include center()
}

//section
.container{
    background-color: $background2;
    height: 100vh;
    width: 40vw;  
}

//div com os campos e cartas
.card{
    margin: 5% 10%;
}

//select 
.opc{
    width: 100%;
    height: 3vh;
    background-color: $title2;
    border-radius: 5px;
    border: none;

    &:focus{
        outline: 0;
    }
}

//labels
label{
    font-family: "alice";
    font-size: 5vh;
}

//botão sortear
.btn{
    border: none;
    height: 3vw;
    width: 6vw;
    background: none;
    color: white;
    font-family: 'alice';
    font-size: 2.5vw;
    margin: 0 1vw;

    &:hover{
        -webkit-filter: drop-shadow(0.1em 0.1em 0.2em $shadow); 
        filter: drop-shadow(0.1em 0.1em 0.2em $shadow); 
        transform: scale(1.1);
    }
}

//botão jogar
.btn2{
    border: none;
    height: 3vw;
    width: 6vw;
    background: none;
    color: white;
    font-family: 'alice';
    font-size: 2.5vw;
    margin: 0 1vw;
    float: right;

    &:hover{
        -webkit-filter: drop-shadow(0.1em 0.1em 0.2em $shadow); 
        filter: drop-shadow(0.1em 0.1em 0.2em $shadow); 
        transform: scale(1.1);
    }
}

//botão de voltar
.seta{
    width: 3vw;
    margin: 4vw 0;
}
