*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

$title: white;
$background: #b4217a;
$background2: #b421799f;
$shadow: #5339a4;

@font-face {
    font-family: "alice";
    src: url("../../fonts/Alice_in_Wonderland_3.ttf");
}

@font-face {
    font-family: "just";
    src: url("../../fonts/Just.ttf");
}

@mixin center(){
    display: flex;
    justify-content: center;
}

body{
    background-image: url("../../img/inicio.webp");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    color: $title;
    font-family: "just";
    font-size: 3vh;
    @include center()
}

section{
    background-color: $background2;
    height: 100vh;
    width: 35vw;
    @include center()
}

.card{
    margin: 2vw 0;
}

.opc{
    width: 14.5vw;
    height: 3vh;
    background-color: $title;
    border-radius: 5px;
    border: none;

    &:focus{
        outline: 0;
    }
}


label{
    font-family: "alice";
    font-size: 5vh;
}

.btn{
    border: none;
    height: 3vw;
    width: 6vw;
    background: none;
    color: white;
    font-family: 'alice';
    font-size: 5vh;
    margin: 0 4vw;

    &:hover{
        -webkit-filter: drop-shadow(0.1em 0.1em 0.2em $shadow); 
        filter: drop-shadow(0.1em 0.1em 0.2em $shadow); 
        transform: scale(1.1);
    }
}

.seta{
    width: 3vw;
    margin: 0 5vw;
}
